@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  background: var(--color-dark-bg);
}

@theme {
  --color-primary: #0273b5; /* default blue-ish */
  --color-primary-50: #c0e1f8; /* default blue-ish */
  --color-secondary: #10b981; /* green-ish */
  --color-black: #21252c;
  --color-dark-bg: #141924;
  --color-dark-bg-200: #1c222d;
  --color-foreground: #1c222d;
  --color-text: #8a9199;
  --color-stroke: #6d7688;
  --color-stroke-200: #232938;
  --color-field-selected: #191f2c;
  --color-white: #ffffff;
  --color-custom-white: #d7e0ee;
  --color-custom-gray-100: #76889a;
  --color-custom-gray-200: #babfc5;
  --color-custom-gray-300: #cfd5db;
  --color-custom-gray-400: #d2d6db;
  --color-custom-gray-500: #f1f2f6;
  --color-custom-gray-600: #4b5563;
  --color-custom-gray-700: #374151;
  --color-custom-gray-800: #1f2937;
  --color-custom-gray-900: #111827;
  --color-custom-orange-900: #f8eac0; /* light orange */
}

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}
